ul.project-list
  li.project
    a(href='/projects/webadvanced').project__link
      img(src='/images/wa.jpg' alt="Web Advanced")
      strong.project__title Web Advanced
  li.project
    a(href='/projects/xtract').project__link
      img(src='/images/xtract.jpg' alt='Pfister Xtract')
      strong.project__title Xtract
  li.project
    a(href='/projects/placeunicorn').project__link
      img(src='/images/placeunicorn.jpg' alt='PlaceUnicorn')
      strong.project__title PlaceUnicorn
  li.project
    a(href='/projects/pfister-hospitality').project__link
      img(src='/images/hospitality.jpg' alt='Pfister Hospitality')
      strong.project__title Pfister Hospitality
  li.project
    a(href='/projects/uncovered-classics').project__link
      img(src='/images/uncovered.jpg' alt='Uncovered Classics')
      strong.project__title Uncovered Classics
  li.project
    a(href='/projects/canari').project__link
      img(src='/images/canari.jpg' alt='Canari')
      strong.project__title Canari
    
