ul.portfolio
  li
    a(href='/projects/webadvanced')
      img(src='/images/wa.jpg' alt="Web Advanced")
      strong Web Advanced
  li
    a(href='/projects/xtract')
      img(src='/images/xtract.jpg' alt='Pfister Xtract')
      strong Xtract
  li
    a(href='/projects/pfister-hospitality')
      img(src='/images/hospitality.jpg' alt='Pfister Hospitality')
      strong Pfister Hospitality
  li
    a(href='/projects/uncovered-classics')
      img(src='/images/uncovered.jpg' alt='Uncovered Classics')
      strong Uncovered Classics
  li
    a(href='/projects/canari')
      img(src='/images/canari.jpg' alt='Canari')
      strong Canari
  li
    a(href='/projects/oakleysi')
      img(src='/images/oakley.jpg' alt='Oakley SI')
      strong Oakley SI
