article.blog-post
  h1.heading.heading--secondary.no-margins Blog Post Title here
  time(datetime="2015-10-14").blog-post__date Oct 14 2015
  p Blog post blurb can go here
  a.btn.btn--solid.margin-top-1(href="#") Read More
