extends layout

block pageTitle
  title About Me | Caitlin Bailey, Front End Web Developer

block content
  header.page-header
    h1.heading--main.heading About Caitlin
  div.inner-wrap.text--body.section-padding
    p.text--lead Some people are all, "Oh no, I work in front of a computer all day! I can't imagine wanting to get on the computer when I get home from work."
    p.text--lead I am not one of those people.
    
    img.img--right.img--max50(src="/images/family.jpg", alt="Me with my family")
    
    p.
      I've loved technology for as long as I can remember. When my dad got our first family computer, my twin sister and I would take turns playing various DOS games.
      When the computer was handed down to be our shared PC, we would play with coloring book programs and tell stories to each other with color. We'd play puzzle and 
      spelling games. We wrote stories to each other with WordPerfect.
    p.
      The computer was a part of our upbringing.
    p.
      It was only natural to me later, around 1998/1999 when I wanted to do something to show my love for my favorite anime (Neon Genesis Evangelion), I turned to 
      the computer. I explored a lot of fan websites and eventually decided to make one of my own. I had no idea what I was doing, but I downloaded AOL Press (a 
      wysiwyg program for making sites) and went to work. Through a #[em lot] of trial and error I eventually started to learn HTML, and I created my first website.
    p.
      Learning about the web has been pretty much exactly the same ever since then. Outside of the single computer science course I took in college (after which I decided that 
      programming was not for me - haha) and a course that went over design and flash basics, I don't have much in the way of formal instruction for this field. What I 
      lack in formal training however, I make up for with enthusiasm and love for what I do.
