extends layout

block content
  h1 About Caitlin

  p.
    I've been building websites since approximately 1998/1999 when I decided I wanted to make a fan site for my favorite anime, Neon Genesis Evanagelion.
    I had no idea what I was doing but I downloaded AOL Press (a wysiwyg program) and went to work. Through a #[em lot] of trial and error I eventually
    started to learn HTML. Later, I built another fan site for a manga I really liked (Angel Sanctuary). The site actually got kind of popular and it ended
    up kind of intimidating my boyfriend (future husband) when he found out that it had 100k visitors!
