extends layout

block content
  header.page-header
    h1.heading--main.heading About Caitlin
  div.inner-wrap
    p.text--lead Some people are all, "Oh no, I work in front of a computer all day! I can't imagine wanting to get on the computer when I get home from work."
    p.text--lead I am not one of those people.
    
    img(src="/images/family.jpg")

    p.
      I've been building websites since approximately 1998/1999 when I decided I wanted to make a fan site for my favorite anime, Neon Genesis Evanagelion.
      I had no idea what I was doing but I downloaded AOL Press (a wysiwyg program) and went to work. Through a #[em lot] of trial and error I eventually
      started to learn HTML. Later, I built another fan site for a manga I really liked (Angel Sanctuary). The site actually got kind of popular and it ended
      up kind of intimidating my boyfriend (future husband) when he found out that it had 100k visitors!
