extends layout

block content
  h1 Blog
  
  ul
    li
      a(href='#')
        article.blog-article
          h1 Blog Title
          date(datetime='2015-10-10') Oct 10 2015
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id condimentum lorem. Maecenas mollis lorem nec varius imperdiet. Maecenas ut nunc sed tellus scelerisque convallis.
          p Maecenas rhoncus gravida ex a rhoncus. Suspendisse a metus interdum, eleifend tortor eu, sollicitudin massa. Nam finibus, tortor in vulputate volutpat, dolor orci elementum purus, et volutpat diam erat eget dui.
          span.btn Read More
