extends layout

block content
  header.page-header
    h1.heading--main.heading Contact
  div.inner-wrap.text--body
    h2.heading.heading--secondary Want to get in touch?
    p You can send me a message using the contact form below!
    p I'm available for freelance web design and development. Please, no recruiters!
    p.message= msg
    form.form(action="/contact" name="contactForm" id="contactForm" method="post" novalidate)
      fieldset
        legend.sr-only Contact Me
        div.form-group
          label(for='name' class='form-label') Name
          input(type='text' id='name' name='name' required placeholder='e.g. Sarah Kerrigan').form-input
          p.form-msg.form-msg--error.form-msg--hidden
        div.form-group
          label(for='email' class='form-label') Email
          input(type='email' id='email' name='email' required placeholder='e.g. sarah.kerrigan@sonsofkorhal.org').form-input
          p.form-msg.form-msg--error.form-msg--hidden
        div.form-group
          label(for='message' class='form-label') Your message
          textarea(id='message' required name='message').form-textarea
          p.form-msg.form-msg--error.form-msg--hidden
        button(type='submit' id='sendmsg' class='btn btn--solid btn--submit') Submit
        p.form-msg.form-msg--hidden#formMsgSubmit
