extends layout

block content
  h1 Contact
  p Contact page content goes here
  
  h2 Social
  ul
    li
      a(href='https://www.facebook.com/caitlin.bailey.giroir' target='_blank') Facebook
    li
      a(href='https://www.twitter.com/caitorait' target='_blank') Twitter
