extends layout

block content
  
  h1.page-title Caitlin Bailey, Front End Web Developer
  
  section.featured-work
    h2.featured-work__header Featured Work
    include includes/featured-projects.jade
    a.btn(href="/projects") View All Projects

  section.latest-blog
    h2.latest-blog__header Latest Blog Post
    include includes/latest-post.jade
    a.btn(href="/blog") View All Posts

  section.about-me
    h2 About Me
    p Some people are all, "Oh no, I work in front of a computer all day! I can't imagine wanting to get on the computer when I get home from work."
    p I am not one of those people.
    a.btn(href="/about") Read More
