extends layout

block content
  div.content-wrapper
    h1.page-title Caitlin Bailey, Front End Web Developer
    p If I'm not careful, I'll lose motivation to make this website and start playing Diablo again. So let's get to it!
    section.featured-work
      h2.featured-work__header Featured Work
      include includes/featured-projects.jade
  
    section.latest-blog
      h2.latest-blog__header Latest Blog Post
      include includes/latest-post.jade
