block variables
  - var containerClass = containerClass;

doctype html
html
  head
    title Caitlin Bailey, Front End Web Developer
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/caiters.css')
    script(src='http://use.typekit.net/vgo2cvm.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
  body
    div.site-wrapper
      header.main-header
        a.site-title(href='/')
          span.site-title__cb Caitlin Bailey
          strong.site-title__fe Front End Developer
        nav#mainNav.main-nav
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link(href='/projects')
                span Projects
            li.main-nav__item
              a.main-nav__link(href='/resume')
                span Resume
            li.main-nav__item
              a.main-nav__link(href='/blog')
                span Blog
            li.main-nav__item
              a.main-nav__link(href='/about')
                span About
            li.main-nav__item
              a.main-nav__link(href='/contact')
                span Contact
      div.main-content
        - if (containerClass)
          div(class="content-wrapper content-wrapper--#{containerClass}")
            block content
        - else
          div(class="content-wrapper")
            block content
