doctype html
html
  head
    title Caitlin Bailey, Front End Web Developer
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style2.css')
    script(src='http://use.typekit.net/vgo2cvm.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
  body
    div.site-wrapper
      header.main-header
        a.site-title(href='/')
          span.site-title__cb CB
          strong.site-title__fe Front End
          span.site-title__dev Developer
        nav#mainNav.main-nav
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link(href='/projects') Projects
            li.main-nav__item
              a.main-nav__link(href='/resume') Resume
            li.main-nav__item
              a.main-nav__link(href='/blog') Blog
            li.main-nav__item
              a.main-nav__link(href='/about') About
            li.main-nav__item
              a.main-nav__link(href='/contact') Contact
      div.main-content
        div.content-wrapper
          block content
