block variables
  - var containerClass = containerClass;

doctype html
html
  head
    title Caitlin Bailey, Front End Web Developer
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700')
    link(rel='stylesheet', href='/stylesheets/all.css')
    script(src='//use.typekit.net/vgo2cvm.js')
    script(type='text/javascript').
      try{Typekit.load({ async: true });}catch(e){}
  body
    div.site-wrapper
      header.main-header
        button.open-mobile-nav Menu
        a.site-title(href='/')
          span.site-title__cb Caitlin Bailey
          strong.site-title__fe Front End Developer
        nav#mainNav.main-nav
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link(href='/projects')
                span Projects
            li.main-nav__item
              a.main-nav__link(href='/resume')
                span Resume
            li.main-nav__item
              a.main-nav__link(href='/blog')
                span Blog
            li.main-nav__item
              a.main-nav__link(href='/about')
                span About
            li.main-nav__item
              a.main-nav__link(href='/contact')
                span Contact
      div.main-content
        - if (containerClass)
          div(class="content-wrapper content-wrapper--#{containerClass}")
            block content
        - else
          div(class="content-wrapper")
            block content
        footer.main-footer
          div.inner-wrap.text--centered
            h2.heading.heading--secondary Get In Touch
            ul.social-list
              li
                a.fa.fa-github-alt(href="https://github.com/caiters", target="_blank")
                  span.text--hidden GitHub
              li
                a.fa.fa-linkedin(href="https://www.linkedin.com/in/caitlinbailey", target="_blank")
                  span.text--hidden LinkedIn
              li
                a.fa.fa-twitter(href="https://www.twitter.com/caitorait", target="_blank")
                  span.text--hidden Twitter
              li
                a.fa.fa-instagram(href="https://www.instagram.com/shaeldre/", target="_blank")
                  span.text--hidden Instagram
              li
                a.fa.fa-facebook(href="https://www.facebook.com/caitlin.bailey.giroir", target="_blank")
                  span.text--hidden Facebook
              li
                a.fa.fa-envelope(href="/contact")
                  span.text--hidden Email
    script(src="https://code.jquery.com/jquery-2.2.2.min.js", integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=", crossorigin="anonymous")
    script(src="/javascripts/caiters.min.js")
