extends layout

block pageTitle
  title Project Portfolio | Caitlin Bailey, Front End Web Developer

block content
    header.page-header
        h1.heading--main.heading Project Portfolio

    div.inner-wrap.section-padding
        h2.heading--secondary.heading.text--centered Featured Projects
        include includes/featured-projects.jade

        section.other-projects
            h2.heading--secondary.heading.text--centered More Work in the Wild
            ul.project-list--text.text--body
                li
                    a(href="/projects/pfister-hospitality") Pfister Hospitality (2016)
                li
                    a(href="/projects/placeunicorn") PlaceUnicorn (2016)
                li
                    a(href="http://www.zalea.com") Zalea maintenance (2015 - 2018)
                li
                    a(href="http://www.pfisterfaucets.com", target="_blank") Pfister Faucets (landing pages, microsites, responsive project) (2012 - Present)
                li
                    a(href="https://www.bookclubfiction.net/", target="_blank") Book Club Fiction (2014 - Present)
                li
                    a(href="http://www.feltbicycles.com/USA.aspx", target="_blank") Felt Bicycles (2014)
                li
                    a(href="http://www.kppfinancial.com/", target="_blank") KPP Financial (2013)
                li
                    a(href="http://boralamerica.com/", target="_blank") Boral America (updates &amp; landing pages) (2014 - Present)
                li
                    a(href="http://www.dota-guild.com/", target="_blank") Daughters of the Alliance (2012 - Present)
                li
                    a(href="http://network.online.berklee.edu/", target="_blank") Berklee Music Network (2011)
                li
                    a(href="http://sonsoftherevolution.org", target="_blank") Sons of the Revolution in the State of New York (2015)
                li
                    a(href="http://www.fencescreen.com", target="_blank") FenceScreen.com (2013 - 2017)
                li
                    a(href="http://www.chrisandcait.com", target="_blank") Chris &amp; Cait (2009)
                li
                    a(href="http://www.alliedhightech.com/", target="_blank") Allied High Tech (2013)
                li
                    a(href="http://www.baldwinhardware.com/", target="_blank") Baldwin Hardware (2014)
                li
                    a(href="http://www.natman.com/", target="_blank") Stanley National (landing pages) (2014)
                li
                    a(href="http://soka.edu/", target="_blank") Soka University (2014)
                li
                    a(href="http://www.oakleysi.com/", target="_blank") Oakley SI (2014)
