extends layout

block content
  h1 Portfolio
  
  h2 Featured Projects
  include includes/featured-projects.jade
  
  h2 Other Projects
  ul
    li Pfister Faucets (landing pages, microsites, responsive project)
    li Book Club Fiction
    li Felt Bicycles
    li KPP Financial
    li Boral Bricks - Ashlar
    li Daughters of the Alliance
    li Berklee Music Network
    li Fraunces Tavern Museum
    li FenceScreen.com
    li Chris &amp; Cait
    li Allied High Tech
    li Fairmont Designs
    li Flow
    li Smith Micro
    li Baldwin Hardware Lock Designer etc
    li Kwikset Kevo (landing pages)
    li Stanley National (landing pages)
    li Little Bill Clinton (microsite)
    li Soka University
    li Oakley SI
    li shebeest
