extends layout

block pageTitle
  title Résumé | Caitlin Bailey, Front End Web Developer

block content
  header.page-header
    h1.heading--main.heading Résumé
    a(href="/downloads/resume-simple-010618.pdf").btn.btn--outline.btn--white.margin-top-2 Download PDF

  h2.heading--secondary.heading.heading--resume Experience

  div.resume-grid
    div.resume-item.resume-item--large
      h3.heading--tertiary.heading.heading--work Web Advanced
      p.job-title Manager of Front-End Development #[em April 2019 - Present]
      p.job-title Lead Front End Developer #[em April 2016 - April 2019]
      p.job-title Front End Developer #[em February 2012 - April 2016]
      div.work-content
        ul.work-content__list
          li Managing a small team of front-end developers - helping grow existing team members, train new team members, perform code reviews, and organize lunch &amp; learn meetings.
          li Primary front end dev on numerous websites - microsites, full redesigns, and website maintenance. Numerous content management systems including Sitefinity, Ektron, WordPress, and Orchard. Select projects include:
            ul
              li Logitech Ultimate Ears configurator: Vue.js, JS (ES6), BEM CSS
              li StockCross Account Signup Application: AngularJS, Vue.js
              li Kwikset.com redesign: Sitefinity CMS, Angular 5, jQuery, BEM CSS
              li LendingQB (Full stack development, static site): PHP, BEM CSS, jQuery
              li Kwikset Kevo microsite: Sitefinity CMS, BEM CSS, jQuery
          li Developed internal testing plan for cross-browser and device compatibility for websites
          li Leading front end team push for web accessibility, performance, and component-based design
    div.resume-item.resume-item--only-tab-desk
    div.resume-item.resume-item--wide.resume-item--not-tab-desk
    div.resume-item.resume-item--tall
      h3.heading--tertiary.heading.heading--work Freelance
      p.job-title Owner #[em August 2008 - Present]
      div.work-content
        ul.work-content__list
          li Front end for marketing landing pages for Corus Entertainment
          li Landing pages for Gartner
          li Maintenance work on GenieCompany.com
          li Various WordPress blogs and websites
    div.resume-item.resume-item--large
      h3.heading--tertiary.heading.heading--work Berklee Online
      p.job-title Front End Developer #[em May 2009 - January 2012]
      div.work-content
        //p Created new marketing pages and HTML emails during big marketing pushes and updated old legacy sections of the website with new designs and standards-compliant HTML.
        ul.work-content__list
          li Implemented new designs for the homepage, various landing pages, and other parts of the berkleemusic.com site (now online.berklee.edu)
          li Created and implemented designs for emails, landing pages, and pages to go on partners' websites
          li Worked with development and design teams to release the Berklee Music Network
          li Worked with a team to implement new design for Berklee's learning management system, which handles the Berklee online courses
    div.resume-item
    div.resume-item.resume-item--large
      h3.heading--tertiary.heading.heading--work The Christian Science Monitor
      p.job-title HTML Production Assistant #[em June 2007 - May 2009]
      div.work-content
        ul.work-content__list
          li Worked with the web production team to update homepage with new and relevant news throughout the day
          li Created a flash audio player to play audio files on the front page of the site
          li Worked with the development team to help complete a new Christian Science Monitor political site for coverage of the 2008 elections
          li I worked as part of a two person development team (a designer and myself) on the Little Bill Clinton minisite, which won an Online Media Marketing and Advertising Award (OMMA) in Web site excellence in 2008
    div.resume-item
    div.resume-item.resume-item--not-tab-desk
    div.resume-item.resume-item--wide.resume-item--not-tab-desk
    div.resume-item.resume-item--not-tab-desk
    div.resume-item.resume-item--not-tab-desk
    div.resume-item.resume-item--wide
      h3.heading--tertiary.heading.heading--work UMass Amherst
      p.schooling-info BA in Computer Graphics &amp; Design #[em Fall 2002 - Spring 2007]
      div.work-content
        ul.work-content__list
          li Graduated with a Bachelor's Degree with Individual Concentration (BDIC) in Computer Graphics and Design (BA) and Japanese Minor
          li Undergraduate Teaching Assistant For Fundamentals of Graphic Communication (2004-2007)
          li President of the UMass Video Game Club (2004-2005)
    div.resume-item.resume-item--only-tab-desk

  h2.heading--secondary.heading.heading--resume Skills &amp; Software

  div.resume-grid.resume-grid--skills
    div.resume-item
      span HTML
    div.resume-item
      span CSS
    div.resume-item.resume-item--tall
    div.resume-item.resume-item--wide
      span Responsive Websites
    div.resume-item
      span JavaScript
    div.resume-item
    div.resume-item
      span Browser compatibility
    div.resume-item.resume-item--wide
      span Web Accessibility
    div.resume-item.resume-item--tall
      span HTML5 Audio &amp; Video
    div.resume-item
      span Vue.js
    div.resume-item
      span Invision
    div.resume-item
      span Zeplin
    div.resume-item
      span Jira
    div.resume-item
    div.resume-item
      span Photoshop
    div.resume-item
      span Sitefinity
    div.resume-item
    div.resume-item
      span Trello
    div.resume-item
      span Git
    div.resume-item
      span Performance