extends layout

block content
  h1 Résumé
  h2 Relevant Skills and Software
  p This is not a comprehensive list, but should touch on the things I thought I would be most relevant. If you have any questions, feel free to contact me!
  div.skills.group
    div.comfortable
      h3 I'm comfortable with...
      ul
        li HTML
        li CSS
        li Creating responsive websites
        li HTML5 Audio &amp; Video
        li jQuery
        li Browser compatibility
        li Photoshop
        li Illustrator
        li WordPress
        li BigCommerce (theming)
        li HTML e-mails (including responsive emails)
        li Orchard CMS 
    div.learning
      h3 I've been learning about...
      ul
        li AngularJS
          span (ongoing)
        li Web accessibility
          span (ongoing)
          
  h3 Relevant Work Experience
  h4 Web Advanced
  span.dates February 2012 - Present
  p I collaborate with small teams to develop websites for our clients.
  ul
    li Front end dev on a variety of sites for many different clients and on multiple platforms.
    li Developed workflow for developing and testing websites on a variety of devices and browsers.
    li User experience design and wireframes for various parts of the FenceScreen.com site, including the custom logo configurators
  
  h4 Freelance
  span.dates August 2008 - Present
  p I work with clients to bring their visions for their sites to life.
  ul
    li Developed the Christian Science Monitor's DC Decoder Tumblr Theme
    li Fraunces Tavern Museum website design and development. Also designed a Fraunces Tavern Museum brochure.
    li ...and many more!
    
  h4 Berklee Online (formerly Berklee Media / Berkleemusic.com)
  span.dates May 2009 - January 2012
  p At Berklee I spent the majority of my time getting PSDs from our designer and converting them into web pages on our site. I was part of a push toward more accessible pages and a more well-coded website in general. My time was split between creating new pages and updating old legacy sections of the site.
  ul
    li Implemented new designs for the homepage, various landing pages, and other parts of the berkleemusic.com site (now online.berklee.edu)
    li Created and implemented designs for emails, landing pages and pages to go on partners' websites
    li Worked with development and design teams to release the Berklee Music Network
    li Worked with a team to implement new design for Berklee's learning management system, which handles the Berklee online courses
    
  h4 The Christian Science Monitor
  span.dates June 2007 - May 2009
  p My first job out of college; I grew leaps and bounds here. I started with keeping the front page of the website updated by hand to exhibit the latest news and later, I was a part of the development team bringing our WordPress minisites to life to help adapt our websites to the quickly changing atmosphere of online publications.
  ul
    li Worked with the web production team to keep the homepage updated with new and relevant news throughout the day
    li Created a flash audio player to play audio files on the front page of the site
    li Worked with the development team to help complete a new Christian Science Monitor political site for coverage of the 2008 elections
    li I worked as part of a two person development team (a designer and myself) on the Little Bill Clinton minisite, which won an Online Media Marketing and Advertising Award (OMMA) in Web site excellence in 2008
    
  h3 Education and Activities
  h4 University of Massachusetts, Amherst
  span.dates Fall 2002 - Spring 2007
  ul
    li Graduated with a Bachelor's Degree with Individual Concentration (BDIC) in Computer Graphics and Design (BA) and Japanese Minor
    li I was an Undergraduate Teaching Assistant For Fundamentals of Graphic Communication (2004-2007) - responsibilities included teaching a lecture (my chosen lecture was on interface design relating to video games), helping students with technical difficulties during lab classes, and meeting students outside of class for office hours.
    li President of the UMass Video Game Club (2004-2005)
