@br-phone: 480px;
@br-tablet: 768px;
@br-desktop: 992px;
@br-wide-desktop: 1200px;

// weights
@thin: 100;
@light: 300;
@regular: 400;
@bold: 700;

// stuff
.transition(...) {
  @args: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
  -webkit-transition: @args;
  -moz-transition: @args;
  -o-transition: @args;
  transition: @args;
}

.transition-delay(@args) {
  -webkit-transition-delay: @args;
  -moz-transition-delay: @args;
  -o-transition-delay: @args;
  transition-delay: @args;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body { background: #f8f8f8; font-family: 'Open Sans', sans-serif; }

img { max-width: 100%; }

.text--hidden { text-indent: -9999px; display: block; }
.text--centered { text-align: center; }
.text--lead { font-size: 1.4em; font-weight: @thin; color: #350077; }
.text--body { font-weight: @light; font-size: 1.1em; }

.img {
  &--right {
    @media (min-width: @br-tablet) {
      float: right;  padding-left: 2em; padding-bottom: 2em;
    }
  }
  &--max50 {
    @media(min-width: @br-tablet){
      max-width: 50%;
    }
  }
}

// margins
.no-margins { margin: 0; }
.no-b-margin { margin-bottom: 0; }
.no-t-margin { margin-top: 0; }
.margin-top-1 { margin-top: 1em; }
.margin-bottom-1 { margin-bottom: 1em; }
.auto-margin { margin-left: auto; margin-right: auto; }
.section-margins { margin-top: 3em; margin-bottom: 3em; }

// padding
.section-padding { padding-top: 3em; padding-bottom: 3em; }

// headings and other text treatments
.kicker { font-size: 0.8em; text-transform: uppercase; margin: 0; font-weight: @regular;
  & + * { margin-top: 0; }
}

.heading { font-family: 'brandon-grotesque', sans-serif; font-weight: @thin;
  &--kicker { .kicker; }
  &--main { font-size: 3em; margin-top: 0; }
  &--secondary { font-size: 2em; }
}

// buttons
.btn { text-transform: uppercase; font-family: 'brandon-grotesque', sans-serif; padding: 0.5em 1.5em; text-decoration: none;
  &--solid { background: #332379; color: #fff; .transition(background-color 0.25s); border: none;
    &:hover { background-color: #000; }
  }
  &--outline { border: 1px solid #000;
    &:hover { background-color: #332379; border-color:#332379;}
  }
  &--white { color: #fff; border-color: #fff; }
}


// whole site wrapper
.site-wrapper {
  @media (min-width: @br-tablet) {
    display: flex;
  }
}

// inner wrap
.inner-wrap { max-width: 1000px; margin-left: auto; margin-right: auto; .group; padding-left: 1em; padding-right: 1em;
  &--center-vert { display: flex; align-items: center; }
}

// main content area
.main-content { width: 100%;
  @media (min-width: @br-tablet) {
    margin-left: 140px; margin-top: 0;
  }
}

// site title in header
.site-title { display: block; text-decoration: none; font-family: 'brandon-grotesque', sans-serif;
  &__cb { display: block; transition: opacity 0.25s; }
  &__fe { display: block; text-transform: uppercase; font-size: 0.9em; font-weight: @thin; transition: opacity 0.25s; }
  @media (min-width: @br-tablet) {
    font-size: 1.3em; position: absolute; top: 3em; width: 400px; background: #655770; color: #fff; left: 0; padding: 1em; text-align: left; padding-left: calc(~"140px + 1em"); box-sizing: border-box; .transition(background-color 0.25s);
    &:before { content: url('/images/cb.png'); position: absolute; left: 1.5em; top: 50%; transform: translateY(-50%); margin-top: 4px; transition: transform 0.25s;  }
    &:hover { background-color: #332379; }
    .is-scrolled & { transform: translateX(-260px);
      &__cb, &__fe { opacity: 0; }
      &:before { transform: translate3d(265px, -60%, 0) rotate(-90deg); }
    }
  }
}

//header
.main-header { text-align: center; background: #fff; width: 100%; box-sizing: border-box;
  @media (min-width: @br-tablet) {
    max-width: 140px; display: flex; flex-direction: column; justify-content: flex-start; height: 100vh; position: fixed; z-index: 2;
  }
}

// main navigation
.main-nav {
  a { text-decoration: none; color: #222; }
  &__list { list-style: none outside; margin: 0; padding: 0; }
  @media (min-width: @br-tablet) {
    text-align: center; margin-top: 10.05em;
    a { position: relative; display: block; width: 100%; padding-top: 1em; padding-bottom: 1em;
      &:before { content: ''; left: 0; max-width: 5px; top: 0; bottom: 0; background: #332379; position: absolute; width: 100%; .transition(max-width 0.35s); }
      &:hover {
        span { color: #fff; }
        &:before { max-width: 100%;  }
      }
    }
    span { display: block; position: relative; z-index: 3; .transition(color 0.25s); }
  }
}

// three column promo
.trio {
  &__col {
    @media (min-width: 768px) {
      width: 33.333333%; float: left;
    }
  }
  // trio with image bg and text overlay on top
  &--img { font-size: 0.9em;

    @media (min-width: @br-phone) {
      .trio__col { width: 33.333333%; float: left; box-sizing: border-box; text-align: center; padding-left: 0.5em; padding-right: 0.5em; }
      a { color: #222; text-decoration: none; display: block; background: #fff; border: 1px solid #e6e6e6;}
      span { display: block; padding: 1em; }
    }
    @media (min-width: @br-tablet) {
      .trio__col { position: relative; }
      img { display: block; width: 100%; .transition(transform 0.5s); }
      span { position: absolute; top: 1em; left: 0; right: 0; z-index: 2; text-transform: uppercase; }
      a { color: #fff; overflow: hidden; position: relative;
        &:before { content: ''; background: rgba(0,0,0,0.4); top: 0; left: 0; right: 0; bottom: 0; .transition(background-color 0.25s); position: absolute; z-index: 1; }
        &:hover {
          img { transform: scale(1.1); }
          &:before { background-color: rgba(0,0,0,0.8); }
        }
      }
    }
  }
}

// homepage intro
.intro { padding-top: 1em; padding-bottom: 1em;
  @media (min-width:768px) {
    width: 50%; float: left; font-size: 1.2em; font-family: 'open sans'; font-weight: 300; padding-right: 2em; box-sizing: border-box;
  }
}

.latest-blog {
  .heading {
    a { color: currentColor; text-decoration: none; transition: color 0.25s;
      &:hover { color: #332379; }
    }
  }
  @media (min-width: 768px) {
    width: 50%; float: left;
  }
}

// blog list
.blog-posts-list { list-style: none outside; margin: 0; padding: 0;
  a { text-decoration: none; color: #222; }
  &__item { padding-bottom: 2em; margin-bottom: 2em; border-bottom: 1px solid #ccc; }
}

// blog post
.blog-post {
  date { text-transform: uppercase; font-family: 'brandon-grotesque', sans-serif; }
  p { font-weight: @light; }
  .btn { display: inline-block; }
}

// page header
.page-header { background: transparent url('../images/banner-generic.jpg') center center no-repeat; background-size: cover; text-align: center; padding: 1em; min-height: 300px; display: flex; flex-direction: column; color: #fff; align-items: center; justify-content: center;
  .heading--main { width: 100%; }
}

.blog-date { font-family: 'brandon-grotesque', sans-serif; text-transform: uppercase; font-weight: @thin; margin-bottom: 0.5em; }

// recent project
.recent-project { background: transparent none center center no-repeat; background-size: cover; text-align: center; padding: 1em; min-height: 300px; display: flex;
  &--wa { background-image: url('../images/banner-wa.jpg') }
  &--pfhy { background-image: url('../images/banner-pfhy.jpg'); }
  &--xtract { background-image: url('../images/banner-xtract.jpg'); }
  a { color: #fff; text-decoration: none; display: flex; flex-direction: column; width: 100%; justify-content: center; }
  // want the kicker to have a triangle pointing down
  .heading--kicker { position: relative; margin-bottom: 1em;
    &:after { border-top: 8px solid #fff; border-right: 5px solid transparent; border-left: 5px solid transparent; content: ''; position: absolute; left: 50%; bottom: -10px; margin-left: -4px; }
  }
  @media (min-width: 768px) {
    position: relative;
    .btn { display: block; opacity: 0; .transition(opacity 0.25s); position: absolute; bottom: 3em; left: 50%; transform: translateX(-50%); }
    .heading { .transition(transform 0.3s); }
    a {
      &:hover {
        .btn { opacity: 1; }
        .heading { transform: translateY(-20px); }
      }
    }
  }
}

.project-body { max-width: 800px; margin-left: auto; margin-right: auto; line-height: 1.6; }

// project list
.project-list { list-style: none outside; margin: 0; padding: 0;
  .project { width: 33.3333333%; float: left; max-width: 300px; }
  @media (min-width:768px) {
    display: flex; flex-wrap: wrap;justify-content: space-around;
    .project { margin-bottom: 1.5em; }
  }
  &--text {
    a { text-decoration: none; color: #332379;
      &:hover { color: #000; }
    }
  }
}
.project { display: block; text-align: center;

  img { display: block; }

  @media (min-width:768px) {
    &__link { display: block; position: relative;
      &:before { content: ''; background: rgba(0,0,0,0.6); position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; .transition(opacity 0.25s);  }
      &:hover {
        .project__title { opacity: 1; transform: translate3d(-50%, -50%, 0); }
        &:before { opacity: 1; }
      }
    }
    &__title { width: 100%; display: block; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, 10px, 0); color: #fff; opacity: 0; .transition(all 0.25s); .transition-delay(0.1s); text-transform: uppercase; font-size: 1.4em; }
  }
}

// social list
.social-list { font-size: 2em; list-style: none outside; margin: 0; padding: 0;
  a { text-decoration: none; display: block; color: #332379; .transition(color 0.25s);
    &:hover { color: #000; }
  }
  .hide-text {float:left;}
  li { display: inline-block; margin-right: 1em;
    &:last-child { margin: 0; }
  }
}

// contact form

.form {
  &-group { clear: both; margin-bottom: 1em; }
  &-label { display: block; }
}
