extends ../layout

block content
  h1 Canari
  p.lead-text.
    A product catalog
  ul.project-info
    li.project-info__block
      strong.project-info__name CMS: 
      | Orchard CMS
    li.project-info__block
      strong.project-info__name Browser Support: 
      | IE8+
    li.project-info__block
      strong.project-info__name Type: 
      | Responsive website
  p.
    TBD
  h2 Lessons Learned
  ul
    li This was my first bootstrap site ever! It shows, but it was a really good learning experience for me since I had never used a css framework before.
