extends ../layout

block content
  header.page-header.recent-project--color-me-hungry
    h1.heading--main.heading.no-b-margin Color Me Hungry
  div.inner-wrap.text--body.section-padding
    p.text--lead.text--centered Web Advanced development team Hackathon project
    a(href="http://www.colormehungry.com", target="_blank")
      img.img--centered.margin-bottom-3.img--bordered(src="/images/website-lendingqb.jpg", alt="LendingQB website screenshot")
    p.text--centered
      a.btn.btn--solid(href="http://www.colormehungry.com", target="_blank") View Website
      
    div.project-body
      ul.project-info
        li.project-info__block
          strong.project-info__name CMS: 
          | None (Static)
        li.project-info__block
          strong.project-info__name Browser Support: 
          | Modern browsers
        li.project-info__block
          strong.project-info__name Type: 
          | Browser Game
      h2.heading.heading--secondary About This Project
      p.
        The development team was looking for an opportunity to learn some new things while collaborating
        on a fun project. Due to the nature of our many projects, while we all have worked with one another
        in some form, we never all have worked together on a single project. So we decided to change that 
        with Color Me Hungry.
      p.
        With some collaboration with a member of the design team (who made the majority of the lovely food
        cards and the background for us) we made the game! Color Me Hungry is an Angular app on top of a 
        node backend. It was for many of us our first from-scratch Angular app, so we made some mistakes 
        here and there, but overall it was a very fun project to all collaborate on together.
      p.
        We still have some plans to make some fun updates, so if you like to play, check back every once 
        in a while!
      
        
      h2.heading.heading--secondary Lessons Learned
      ul
        li.
          This project helped me learn more how Angular works (although at the time of working on this,
          I still had put-everything-in-the-controller-itis).
        li.
          We ended up using AWS to host the site and I set up dokku to help with deploys, so that was 
          a fun learning experience as well.
