extends ../layout

block content
  //div.breadcrumbs
    //a(href="/projects") Back to Projects List
  header.project__header
    block project-header
  section.project__about
    block project-about
  section.project__stats
    block project-stats
  section.project__highlights
    block project-highlights
