extends ../layout

block content
  header.page-header.recent-project--lendingqb
    h1.heading--main.heading.no-b-margin LendingQB
  div.inner-wrap.text--body.section-padding
    p.text--lead.text--centered Full redesign for LendingQB website.
    a(href="http://www.lendingqb.com", target="_blank")
      img.img--centered.margin-bottom-3.img--bordered(src="/images/website-lendingqb.jpg", alt="LendingQB website screenshot")
    p.text--centered
      a.btn.btn--solid(href="http://www.lendingqb.com", target="_blank") View Website
      
    div.project-body
      ul.project-info
        li.project-info__block
          strong.project-info__name CMS: 
          | None (Static)
        li.project-info__block
          strong.project-info__name Browser Support: 
          | IE10+, modern browsers
        li.project-info__block
          strong.project-info__name Type: 
          | Responsive website
      h2.heading.heading--secondary About This Project
      p.
        This was a fun project to work on with a lot of interesting CSS challenges. The designer was
        encouraged to be creative with the design and to help make this site stand out with abstract
        imagery and a limited color palette.
      p.
        Angled panels were a big part of the LendingQB design and were one of the first things I tackled
        with prototyping. I also needed to deal with how the header and footer were not supposed to be 
        angled at all. I ended up accomplishing this with a mixture of transform: skew (container element
        with one skew and an inner container with an opposite skew) to cause the angles and using padding,
        negative margins, and z-index to help the header and footer sit as they were supposed to.
      p.
        One of the most challenging pieces of the site was the natural language form at the bottom of the 
        homepage - which will have a blog post coming soon to webadvanced.com to go more in depth!
      p.
        I also got to write a mailer using the phpmailer library! There was no back end developer on this
        project so I decided to give it a shot myself. I did a lot of research (and consulted with our back
        end developers) to make sure it was a pretty solid form, and I'm really pleased that I made an 
        effort to do something I wouldn't normally do.
      p.
        Overall this project was an opportunity to utilize the tools I became accustomed to while working
        on Kevo on a brand new project, and I think the result is a beautiful and clean presentation.
        
      h2.heading.heading--secondary Lessons Learned
      ul
        li.
          Building an intuitive natural language form may in some cases involve rebuilding 
          standard form behavior, which in turn could make the form less intuitive. Definitely dealt with 
          a lot of trade-offs.
        li.
          It turns out SVG is still fun!
        li.
          I got to build a PHP mailer for the first time.
        li.
          Learned about a number of quirks with using transform: skew in opposite directions, including finding 
          at one point that the site text was all blurry and having to figure out how to combat that.
