extends ../layout

block content
  header.page-header.recent-project--lendingqb
    h1.heading--main.heading.no-b-margin LendingQB
  div.inner-wrap.text--body.section-padding
    p.text--lead.text--centered Full redesign for LendingQB website.
    a(href="http://www.lendingqb.com", target="_blank")
      img.img--centered.margin-bottom-3.img--bordered(src="/images/website-lendingqb.jpg", alt="LendingQB website screenshot")
    p.text--centered
      a.btn.btn--solid(href="http://www.lendingqb.com", target="_blank") View Website
      
    div.project-body
      ul.project-info
        li.project-info__block
          strong.project-info__name CMS: 
          | None (Static)
        li.project-info__block
          strong.project-info__name Browser Support: 
          | IE10+, modern browsers
        li.project-info__block
          strong.project-info__name Type: 
          | Responsive website
      h2.heading.heading--secondary About This Project
      p.
        Things
        
      h2.heading.heading--secondary Lessons Learned
      ul
        li.
          Angles!
