extends ../layout

block content
    header.page-header.recent-project--ue-boom
        h1.heading--main.heading.no-b-margin Logitech Ultimate Ears
    div.inner-wrap.text--body.section-padding
        p.text--lead.text--centered myBOOM 3
        a(href="https://studio.ultimateears.com/", target="_blank")
            img.img--centered.margin-bottom-3.img--bordered(src="/images/website-ue.jpg", alt="Ultimate Ears website screenshot")
        p.text--centered
            a.btn.btn--solid(href="https://studio.ultimateears.com/", target="_blank") Website Link

        div.project-body
            ul.project-info
                li.project-info__block
                    strong.project-info__name CMS:
                    | Custom .net MVC admin
                li.project-info__block
                    strong.project-info__name Browser Support:
                    | Modern Browsers
                li.project-info__block
                    strong.project-info__name Type:
                    | Single Page App
            h2.heading.heading--secondary About This Project
            p.
                stuff

            h2.heading.heading--secondary Lessons Learned
            ul
                li.
                    yikes