extends ../layout

block content
  h1 Pfister Hospitality
  p.lead-text.
    This was a new site, part of the Pfister family, to show off the Pfister Faucets hospitality capabilities.
  ul.project-info
    li.project-info__block
      strong.project-info__name CMS: 
      | Sitefinity
    li.project-info__block
      strong.project-info__name Browser Support: 
      | IE8+
    li.project-info__block
      strong.project-info__name Type: 
      | Responsive website
  p.
    TBD
  h2 Lessons Learned
  ul
    li This was my first shot at front end form validation to help with user experience
